@import 'tailwindcss';

:root {
  --background: rgb(236, 250, 255);
  --foreground: white;

  --button-dark-color: rgb(0, 85, 169);

  --font-color: black;

  --shadow-color: rgb(183, 183, 183);
}

body {
  background: var(--background);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
