.container {
  display: flex;
  flex-direction: column;

  gap: 20px;

  height: 100vh;

  padding: 20px 0px;

  background: var(--background);
  align-items: center;
  overflow: visible;

  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
  background: white;
  padding: 20px 10px;
  box-shadow: 0px 2px 5px 1px var(--shadow-color);
  border-radius: 15px;
  width: 100%;
  align-items: center;

  max-width: 1600px;
  max-width: clamp(320px, calc(100vw - 20px), 1600px);

  select,
  option {
    background: white;
    box-shadow: 0px 2px 5px 1px var(--shadow-color);

    padding: 10px 20px;
    border-radius: 15px;
  }
}

.table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  position: relative;

  padding-bottom: 10px;
  overflow-y: auto;
  padding: 10px;

  max-width: 1620px;
  width: 100%;

  flex: 1;
  scrollbar-gutter: stable;
}

.table::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: absolute;
}

.table::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.25));
}

.table::-webkit-scrollbar-thumb {
  background: var(--shadow-color);
  border-radius: 5px;
  cursor: grab;
}

.table::-webkit-scrollbar-thumb:hover {
  background: var(--shadow-color);
}
.table::-webkit-scrollbar-thumb:active {
  background: var(--shadow-color);
  cursor: grabbing;
}
